<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anomaly Detection</title>

  <!-- Link to the CSS file -->
  <link rel="stylesheet" href="/css/style.css">  <!-- Assuming style.css is in public/css/ -->
</head>
<body>
  <%- include('partials/navbar') %> <!-- Include Navbar -->

  <!-- Navigation Links -->
  <nav class="risk-nav">
    <ul>
      <li><a href="/trans-anomaly">Billing Anomaly</a></li>
      <li><a href="/risk/cancer">High-risk Patients with Cancer</a></li>
      <li><a href="/risk/diabetes">High-risk Patients with Diabetes</a></li>
      <li><a href="/risk/obesity">High-risk Patients with Obesity</a></li>
      <li><a href="/risk/asthma">High-risk Patients with Asthma</a></li>
      <li><a href="/risk/hypertense">High-risk Patients with Hypertension</a></li>
      <li><a href="/risk/arthritis">High-risk Patients with Arthritis</a></li>
    </ul>
  </nav>

  
</body>
</html>
